<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisenut.bbbot.wellness.WellnessDAO">

<select id="getWellnessInfo" parameterType="String" resultType="com.wisenut.bbbot.wellness.WellnessProperty">
SELECT  property,GROUP_CONCAT(descript) as descript
FROM wellness_pro
WHERE resource = 
(
		SELECT resource 
		FROM wellness
		WHERE label=#{name}) 
GROUP BY property;
</select>

<select id="getDescript" parameterType="com.wisenut.bbbot.wellness.WellnessProperty" resultType="com.wisenut.bbbot.wellness.WellnessProperty">
SELECT GROUP_CONCAT(descript) as descript
FROM wellness_pro
WHERE resource = 
(
		SELECT resource 
		FROM wellness
		WHERE label=#{name}) and property = #{property}
GROUP BY property;
</select> 

<select id="getSymptom" parameterType="String" resultType="com.wisenut.bbbot.wellness.WellnessProperty">
SELECT distinct descript
FROM wellness_pro
WHERE property = '증상'AND resource IN (
	SELECT resource
	FROM wellness_sym
	WHERE symptom_area = #{symptom_area}
)
</select>

<select id="getLabel" parameterType="com.wisenut.bbbot.wellness.Wellness" resultType="com.wisenut.bbbot.wellness.Wellness">

SELECT label
FROM wellness 
where resource IN (
	SELECT  resource
	FROM wellness_pro
	WHERE property = '증상' AND descript = #{descript} AND resource IN 
		(SELECT resource
		FROM wellness_sym
		WHERE symptom_area = #{symptom_area})		
	)



</select>

</mapper>